<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="{{ url_for('static', filename='assets/') }}" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Dashboard Admin - Clients</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon/favicon.ico') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}"></script>
</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <!-- Menu -->
                <div class="app-brand demo">
                    <a href="{{ url_for('main.dashboard') }}" >
                        <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform: none; text-align: center;">CarQuest</span>
                    </a>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item active">
                        <a href="{{ url_for('main.dashboard') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Voiture</span></li>
                    <!-- List Cars -->
                    <li class="menu-item">
                        <a href="{{ url_for('main.show_car') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-car"></i>
                            <div data-i18n="Tables">Liste des voitures</div>
                        </a>
                    </li>
                    <!-- Add Car -->
                    <li class="menu-item">
                        <a href="{{ url_for('main.add_car') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-plus-circle"></i>
                            <div data-i18n="Tables">Ajouter Voiture</div>
                        </a>
                    </li>
                    <!-- Reserve Car -->
                    <li class="menu-item">
                        <a href="{{ url_for('main.reserve_car') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-file-blank"></i>
                            <div data-i18n="Tables">Réserver Voiture</div>
                        </a>
                    </li>
                    <!-- Reservations -->
                    <li class="menu-item">
                        <a href="{{ url_for('main.show_reservations') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-list-ul"></i>
                            <div data-i18n="Tables">Réservation</div>
                        </a>
                    </li>
            
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Client</span></li>
                    <!-- List Clients -->
                    <li class="menu-item">
                        <a href="{{ url_for('main.show_client') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-group"></i>
                            <span class="align-middle">Liste des Clients</span>
                        </a>
                    </li>
                    <!-- Add Client -->
                    <li class="menu-item">
                        <a href="{{ url_for('main.add_client') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user-plus"></i>
                            <span class="align-middle">Ajouter Client</span>
                        </a>
                    </li>
            
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Déconnexion</span></li>
                    <!-- Log Out -->
                    <li class="menu-item">
                        <a href="{{ url_for('main.logout') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-power-off"></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </aside>
            
            <div class="layout-page">
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <h5 class="mb-0">Tableau de bord de gestion</h5>
                            </div>
                        </div>
                        <!-- /Search -->
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Place this tag where you want the button to render. -->
                            <li class="nav-item lh-1 me-3">
                                <a>{{ session.email if 'email' in session else 'No Email Available' }}</a>
                            </li>
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="{{ url_for('static', filename='assets/img/avatars/1.png') }}" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        

                        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion Client /</span> Liste des clients</h4>
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="mb-0">Clients</h5>
                                <a href="{{ url_for('main.add_client') }}" class="btn btn-primary btn-sm">
                                    <i class="bx bx-plus"></i> Ajouter Client
                                </a>
                            </div>
                            
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Telephone</th>
                                            <th>CIN</th>
                                            <th>Address</th>
                                            <th>Photo</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        {% for client in clients %}
                                        <tr>
                                            <td>{{ client.id }}</td>
                                            <td>{{ client.email }}</td>
                                            <td>{{ client.nom }}</td>
                                            <td>{{ client.prenom }}</td>
                                            <td>{{ client.telephone }}</td>
                                            <td>{{ client.cin }}</td>
                                            <td>{{ client.adresse }}</td>
                                            <td>
                                                {% if client.photo %}
                                                    <img src="{{ url_for('static', filename='client_photos/' + client.photo) }}" alt="Client Photo" style="width: 50px; height: auto;">
                                                {% else %}
                                                    <span>No Photo</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ url_for('main.edit_client', id=client._id) }}" class="btn btn-info btn-sm">
                                                    <i class="bx bx-edit"></i>
                                                </a>
                                                
                                            </td>
                                        </tr>   
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                    <!-- / Content -->
                </div>
                <!-- / Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- Core JS -->
    <script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
    <!-- Main JS -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('searchInput');
            searchInput.addEventListener('input', function () {
                let searchText = this.value.toLowerCase();
                let tableRows = document.querySelectorAll('.table tbody tr');
                tableRows.forEach(row => {
                    const cells = Array.from(row.getElementsByTagName('td'));
                    let matches = cells.some(cell => cell.textContent.toLowerCase().includes(searchText));
                    row.style.display = matches ? '' : 'none';
                });
            });
        });
    </script>
</body>
</html>
